body {
	color: #e9bcb7;
	font-size: 22px;
}

header {

	background-color: #06070e;
	padding: 2.5vh;
}

.navigation{
	display: flex;
	justify-content: space-between;
	align-content: center;
	padding: 10px 20px;
}

.navLeft,
.navRight {
	display: flex;
	gap: 40px;
}

.navLeft{
	position: relative;
	left: 7vh;
}

.navRight{
	position: relative;
	left: -10vh;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


a {
  color: #e9bcb7;
  font-weight: bold;
  text-decoration: 	none;
}

.container {
	background-color: #29524A;
	padding: 10vh 0;
	display: flex;
	gap: 10px;
}

#profilePicture{
	position: relative;
	right: -12%;
}

#aboutMe{
	width: auto;
	display: grid;
	gap: 5px;
	grid-template-columns: 1fr 1fr;
	position: relative;
	left: 12vh;
	top: 2.5vh;
}

#heading {
	grid-column: 1 / 3;
}

.bio {
	width: 300px;
	grid-column: auto;
	position: relative;
}
h1 {
	font-size: 125px;
}

#myBio{
	position: relative;
	top: 3.5vh;
}

#qualifications{
	position: relative;
	top: -5vh;
}

h2 {
	margin: 2vh;
}