body {
	color: #FCBFB7;
	font-size: 27px;
	font-family: 'Great Vibes', serif;
	font-weight: 600;
	letter-spacing: 0.03em;
}

header {

	background-color: #FAB62F;
	padding: 2.5vh;
	border-radius: 10px;
}

.navigation{
	display: flex;
	justify-content: space-between;
	align-content: center;
	padding: 10px 20px;
}

.navLeft,
.navRight {
	display: flex;
	gap: 40px;
}

.navLeft{
	position: relative;
	left: 1%;
}

.navLeft .logo {
	display: inline-block;
	transition: transform 0.5s ease;
}

.navLeft .logo:hover {
	transform: rotate(360deg);
}
.navRight{
	position: relative;
	left: -1%;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


a {
  color: #6C4971;
  font-weight: bold;
  text-decoration: 	none;
}

.container {
	background-color: #29524A;
	padding: 10vh 0;
	display: flex;
	gap: 10px;
	border-radius: 10px;
}

#profilePicture{
	position: relative;
	top: 7px;
	right: -8%;
}

#profilePicture img {
	width: 70%;
	height: fixed;
}

#aboutMe{
	width: auto;
	padding: 0 5% 0 0;
	display: grid;
	gap: 5px;
	grid-template-columns: 1fr 1fr;
	position: relative;
	left: 4%;
	border-right: solid #FCBFB7 1px;
}

#heading {
	grid-column: 1 / 3;
}

.bio {
	width: 413px;
	grid-column: auto;
	position: relative;
}
h1 {
	font-size: 125px;
	font-family: 'Bodoni Moda', serif;
	text-decoration: overline;
	font-weight: 800;
	letter-spacing: 0.3em;
	text-transform: uppercase;
	text-shadow: 7px 7px 15px rgba(0,0,0,0.2);
}

#myBio{
	position: relative;
	top: 3.5vh;
}

#qualifications{
	position: relative;
	top: -5vh;
}

h2 {
	margin: 2vh;
	text-decoration: overline;
	font-family: 'Bodoni Moda', serif;
}

.additionalInfo {
	height: 100vh;
	background-color: #FAB62F;
	color: #684778;
	border-radius: 10px;
}


.projectGrid{
	display: grid;
	width: 450px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto;
	gap: 20px;
	position: relative;
	top: 25px;
}

.projectTitle {
	position: relative;
	top: 70%;
	left: 80%;
	transform: rotate(-90deg);
	transform-origin: left top;
	display: inline-block;
}

.box2{
	width: 585px;
	grid-column: 2;
	grid-row: 1;
	position: relative;
	left: 6%;
	
}

.box1{
	width: 585px;
	grid-column: 1;
	grid-row: 2;
	position: relative;
	left: 12%;
}

.box3{
	width: 585px;
	grid-column: 3;
	grid-row: 2;
	position: relative;
	left: -.5%;
}

.box{
	background: #7570B3;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	font-weight: bold;
	opacity: 1;
}

.imageWrapper {
	display: block;
	text-align: center;
	margin: 0;
}

.imageWrapper img {
	width: 95%;
	height: 60%px;
	position: relative;
	top: -4%;
	border-radius: 8px;
	box-shadow: 0 4px 15px rgba(0,0,0,0.3);
	opacity: 1;
}

.imageWrapper figcaption {
	display: block;
  margin-top: 8px;
  color: #FCBFB7;
  text-decoration: overline;
}
.proficiency {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: relative;
	top: -35%;
	left: .25%;
}

footer, .contactMe {
	background-color: #29524A;
	padding: 10vh 0;
}

.contactMe {
	background: ;
	padding: 40px 20px;
	border-radius: 10px;
	text-align: center;
}

.formGroup {
	margin-bottom: 30px;
}

.formGroup label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
	position: relative;
	right: 6%;
}

.formGroup input,
.formGroup textarea {
	width: 300px;
	padding: 10px;
	border-radius: 6px;
	border: 1px solid;
	font-size: 16px;

}

button {
	display: block;
	margin: 0 auto;
	padding: 12px 24px;
	border: none;
	border-radius: 8px;
	background-color: ;
	color: ;
	font-size: 16px;
	cursor: pointer;
}

button:hover {
	background-color: ;
}

footer {
	text-align: center;
	padding: 5px;
	border-radius: 10px;
}